tbody>tr, nav.fixed-top, footer.footer {
    background-color: rgb(16, 16, 16) !important;
}

td>a, .alert>p>a {
    color: #bababa !important;
    text-decoration: none;
}

td>a:hover, .alert>p>a:hover {
    color: #2a6496 !important;
    text-decoration: underline;
}

th.sorting_asc,
th.sorting_desc,
th.sorting {
    background: none !important;
}

.bg-dark {
    background-color: #1f1f1f !important;
}

.alert.border-danger {
    background-color: #ff00000d;
}

.fixedHeader-floating {
    z-index: 1040;
    background-color: rgb(16, 16, 16) !important;
}

/* Resizes the search to be a bit less chunky */
#animeTableSearch {
    height: 30px;
    width: 200px;
}
