.icon {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
