.edit {
    color: var(--bs-warning);
    margin-left: 0.1rem;
    padding: 0 0.3rem;
    border-bottom: 1px solid transparent;
}

.edit:hover {
    border-bottom: 1px solid var(--bs-warning);
    cursor: pointer;
}
