# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.next

# testing
/db
/coverage

# production
/build
public/sw.js
public/workbox-*.js
public/fallback-*.js
public/*.map

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
next-env.d.ts
