.button {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  background-color: var(--bg-4);
  border-radius: 0.25rem;
  color: var(--bs-secondary);
  transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s;
}

.button:hover,
.button:active {
  color: #fff;
  background-color: var(--bg-7);
}
