.dropdown a {
    color: white;
    cursor: pointer;
    text-align: center;
}

.dropdown a:hover,
.dropdown a:active,
.dropdown a:focus {
    background-color: var(--bg-7);
}

.dropdown a:focus {
    color: white;
}

.cavet::after {
    display: none;
}

.left {
    border-right: 3px solid var(--accent-color);
}

.right {
    border-left: 3px solid var(--accent-color);
}

.toggler {
    user-select: none;
    border-radius: 0.25rem;
    text-align: center;
}
