.dropdown a {
    cursor: pointer;
}

.cavet:after {
    display: none;
}

.left {
    border-right: 3px solid var(--bs-success);
}

.right {
    border-left: 3px solid var(--bs-success);
}

.toggler {
    user-select: none;
}
