.navbar {
    background: var(--bg-2);
    color: #fff;
    z-index: 1200;
}

.header {
    background-color: var(--bg-4);
    padding: 0.4rem 1rem;
    margin-bottom: 0.5rem;
}

.toggler {
    color: grey;
    background-color: var(--bg-8);
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.toggler:hover {
    color: white;
    background-color: var(--accent-color);
}

.outside {
    position: fixed;
    z-index: 1100;
}

.navbar a {
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    color: #c6c6c6;
}

.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    color: white;
}


.navbar ul li a:hover,
.navbar ul li a:active,
.navbar ul li a:focus {
    color: white;
    background-color: var(--bg-7);
}
