.navbar {
    background: var(--bg-2);
    color: #fff;
    z-index: 1060;
}

.header {
    background-color: var(--bg-4);
    padding: 0.4rem 1rem;
    margin-bottom: 0.5rem;
}

.toggler {
    color: grey;
    background-color: var(--bg-6);
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.toggler:hover {
    color: white;
    background-color: var(--bg-8);
}

.outside {
    position: fixed;
    z-index: 2000;
    top: 1rem;
    right: 1rem;
}

.navbar a {
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    color: white;
}

.navbar ul li a {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0.3rem;
}

.navbar ul li a:hover,
.navbar ul li a:active,
.navbar ul li a:focus {
    color: white;
    background-color: var(--bg-7);
}
