/* custom color-scheme */
.label-yes {
    color: var(--yes);
    background-color: var(--yes);
}

.label-no {
    color: var(--no);
    background-color: var(--no);
}

.label-default {
    color: var(--grey);
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-darker {
    background-color: var(--darker) !important;
}

.bg-success {
    background-color: var(--yes) !important;
}

.bg-danger {
    background-color: var(--no) !important;
}

.border-secondary {
    border-color: #333333!important;
}

kbd {
    padding: .15rem 0.7rem;
    background-color: var(--y-n-bg) !important;
}


/* card */
.card {
    border-color: var(--darker);
    background-color: var(--table-hover) !important;
}

.card-header {
    font-weight: 600;
    background-color: var(--darker) !important;
}


/* a-colors */
a:not(.link-light):not(.btn) {
    color: var(--grey) !important;
    text-decoration: none;
}

a:not(.link-light):not(.btn):not(.navbar-brand):hover {
    color: var(--a-hover) !important;
}

td > a:hover, .alert > p > a:hover {
    text-decoration: underline;
}

/* search */
#search-addon {
    background-color: #1f1f1f;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}

/* forms */
.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.btn-close:focus {
    box-shadow: 0 0 12px 0 var(--no) !important;
}

/* hover-effects */
.hover-blue, .hover-dark {
    transition: background-color .1s ease-in-out;
}

.hover-dark:hover {
    background-color: var(--dark) !important;
}

.hover-blue:hover {
    background-color: rgba(13, 110, 253, .25) !important;
}

.hover-shadow {
    transition: box-shadow .1s ease-in-out;
}

.hover-shadow:hover {
    box-shadow: 0 0 12px 0 var(--no);
}

.hover-grow {
    transition: transform .2s ease-in-out;
}

.hover-grow:hover {
    transform: scale(1.1, 1.1);
}

/* Discord-Emoji icons */
img.dc-emoji {
    vertical-align: top;
    display: inline-block;
}

/* alert */
.alert.border-danger {
    background-color: var(--alert-bg);
}

.alert p {
    margin-bottom: 0;
}


/* table-card icons */
#tablesList .card-header span.float-end a {
    transition: all .2s ease-in-out;
}

#tablesList .card-header span.float-end a[data-bs-toggle="collapse"]:not(.collapsed) {
    transform: rotate(180deg);
}


/* tab-select */
.input-group {
    min-width: 200px;
}


/* footer */
footer {
    color: var(--grey);
}


/* data-table */
table {
    --bs-table-bg: var(--table-dark) !important;
    --bs-table-striped-bg: var(--table-darker) !important;
}

tbody > tr {
    background-color: var(--table-dark) !important;
}

tbody > tr:nth-child(even) {
    background-color: var(--table-darker) !important;
}

tbody > tr:hover {
    background-color: var(--table-hover) !important;
}


/* bootstrap-icon */
.bi::before {
    vertical-align: -2px;
}

/* online/offline status */
.spinner-grow-sm {
    vertical-align: unset !important;
}

.rounded-circle {
    flex-shrink: 0;
}

.no-wrap {
    white-space: nowrap !important;
}

#text-width-test {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
}

.card small::before {
    content: "Sponsored ";
}

.card > .h5, h5 {
    font-size: 1.15rem;
}

#animeTables > .row {
    margin-right: 0;
    --bs-gutter-x: 0;
}

#animeTables > .row > .col {
    margin-bottom: 1em;
}