.banner {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  font-weight: bold;
  background: #161616;
}

@media (max-width: 600px) {
  .bg {
    flex-direction: column;
  }
}
