<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>/r/AnimePiracy Index</title>
        <link rel="shortcut icon" type="image/png" href=”{{ url_for('static', filename='img/logo.png') }}” />
        <style>
            .fixedHeader-floating {
                background-color: rgb(16, 16, 16) !important;
            }

        </style>
        <!-- #FONT-AWESOME -->
        <script src="https://kit.fontawesome.com/212aaa0caa.js" crossorigin="anonymous"></script>
        <!-- #GOOGLE FONT -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700" rel="stylesheet" type="text/css" />
        
        <link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <!-- #BODY -->

    <body style="color: var(--light)">
        <nav class="navbar navbar-light bg-dark">
            <a class="navbar-brand d-flex align-items-center" href="/" style="gap: 10px; color: var(--light)">
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="32" height="32" class="d-inline-block align-top" alt="" />
                <p style="margin-bottom: 0">/r/AnimePiracy Index Editor</p>
            </a>
            <div class="navbar-brand d-flex align-items-center" style="gap: 10px; color: var(--light)">
                <p style="margin-bottom: 0">
                    {{ user.name }}
                </p>
                <img src="{{user.avatar_url}}" width="32" height="32" class="d-inline-block align-top" alt="" />
                <button type="button" onclick="location.href = '/logout'" style="background: var(--gray)">Logout</button>
            </div>
        </nav>
        <br />
        <div id="animeSitesContainer" class="container">
            <div class="card text-center">
                <div class="card-header">
                    <h4>Instructions</h4>
                </div>
                <div class="card-body">
                    <p style="font-size: 1.3rem">
                        <strong>EDITING A ENTRY</strong><br />Select the website you want from the dropdown below and click Save
                    </p>
                    <p style="font-size: 1.3rem"><strong>CREATING A NEW ENTRY</strong><br />Fill out the fields below and click Save</p>
                </div>
                <div class="card-header" style="display: flex; gap: 10px; justify-content: center">
                    <select id="dataSelector" style="width: 200px" class="form-control" onchange="handleDataChange()">
                        <option selected disabled>Select data set</option>
                    </select>
                    <select id="siteSelector" style="width: 200px" class="form-control" onchange="handleSelectorChange()">
                        <option selected disabled>New entry</option>
                    </select>
                </div>
                <div class="card-body" id="editorParent">
                    <!-- SAVE CONFIRM MODAL -->
                    <div class="modal fade" id="confirmSaveModal" tabindex="-1" role="dialog" aria-labelledby="confirmSaveModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmSaveModalLabel">Are you sure you want to save this entry?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">NO, go back</button>
                                    <button type="button" class="btn btn-success" onclick="handleSubmit()">YES, Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DELETE ENTRY MODAL -->
                    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmSaveModalLabel">Are you sure you want to delete this entry?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">No, go back</button>
                                    <button type="button" class="btn btn-success" onclick="handleDelete()">Yes, Delete changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <!-- #JS LINKS -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
    </body>

</html>
