<!doctype html>
<html lang="en" class="h-100">

<head>
    {% include 'meta.html' %}

    <!-- SEO -->
    <title>/r/animepiracy Index</title>
    <meta name="description"
          content="The /r/animepiracy index is a curated list of the best resources for finding anime, manga, light novels, visual novels, hentai, and more. We support direct downloads, streaming, applications, and torrents so you'll always find what you're looking for!"/>
    <meta name="robots" content="index, archive, nofollow">
    <link rel=”canonical” href="https://piracy.moe/">
</head>


<!-- #BODY -->
<body class="d-flex flex-column h-100 bg-dark text-white">
{% include 'navbar.html' %}

<!-- Notice -->
<div class="container">
    <div class="alert alert-dismissible border border-danger mb-3 fade show" role="alert">
        <p>
            Welcome to the future home of the /r/animepiracy index! This page is currently undergoing heavy
            development and does not reflect the final version of the index. Expect things to change and
            break while this alert is still active. Report any bugs in the <kbd>#index</kbd> channel in our Discord at
            <a href="https://discord.gg/piracy">https://discord.gg/piracy</a>!
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="d-none alert show fade pt-0 mb-0" role="alert" id="i-am-an-adult-alert">
        <div class="d-flex justify-content-center">
            <div>
                <button type="button" class="btn btn-outline-danger hover-grow hover-shadow m-1" data-bs-dismiss="alert"
                        aria-label="Close" onclick="adultConsent(true)">
                    I am an adult! Gimme that <img src="{{ url_for('static', filename='img/gasm.png') }}"
                                                   class="dc-emoji" width="23px" height="23px" alt="I am an adult">!
                </button>
                or
                <button type="button" class="btn btn-outline-success hover-grow hover-shadow m-1"
                        data-bs-dismiss="alert"
                        aria-label="Close" onclick="adultConsent(false)">
                    Hold up! FBI <img class="dc-emoji" src="{{ url_for('static', filename='img/lolipolice.png') }}"
                                      width="23px" height="23px" alt="I am not an adult">
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-auto mb-2">
            <ul class="nav nav-pills nav-fill" id="tableNav" role="tablist">
                <li class="nav-item m-1">
                    <a class="nav-link link-light hover-blue active" id="animeTablesTab" href="#animeTables" role="tab"
                       data-bs-toggle="pill" aria-controls="animeTables" aria-selected="true">
                        <i class="bi bi-film"></i> Anime
                    </a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link link-light hover-blue" id="mangaTablesTab" href="#mangaTables" role="tab"
                       data-bs-toggle="pill" aria-controls="mangaTables" aria-selected="false">
                        <i class="bi bi-book"></i> Manga
                    </a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link link-light hover-blue" id="lightNovelTablesTab" href="#lightNovelTables"
                       role="tab"
                       data-bs-toggle="pill" aria-controls="lightNovelTables" aria-selected="false">
                        <i class="bi bi-journal-text"></i> Novels
                    </a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link link-light hover-blue" id="applicationsTablesTab" href="#applicationsTables"
                       role="tab"
                       data-bs-toggle="pill" aria-controls="applicationsTables" aria-selected="false">
                        <i class="bi bi-window-sidebar"></i> Applications
                    </a>
                </li>
                <li class="nav-item m-1 d-none i-am-a-adult">
                    <a class="nav-link link-light hover-blue" id="hentaiTablesTab" href="#hentaiTables" role="tab"
                       data-bs-toggle="pill" aria-controls="hentaiTables" aria-selected="false">
                        <img class="dc-emoji" src="{{ url_for('static', filename='img/18.png') }}" width="23px"
                             height="23px" alt="18+ only"> Hentai
                    </a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link link-light hover-blue" id="helpTab" href="#help" role="tab"
                       data-bs-toggle="pill" aria-controls="help" aria-selected="false">
                        <i class="bi bi-info-circle"></i> Help
                    </a>
                </li>
            </ul>
        </div>
        <div class="col mb-2">
            <div class="input-group hover-shadow mt-1">
                <input id="tableSearch" class="form-control border-secondary bg-dark text-white" type="text"
                       placeholder="Search terms here..." aria-label="Recipient's username"
                       aria-describedby="search-addon">
                <button class="btn btn-secondary border-secondary" aria-expanded="false" data-bs-toggle="collapse"
                        data-bs-target="#search-filter" type="button" id="search-addon" aria-controls="search-filter">
                    <i class="bi bi-funnel"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="collapse" id="search-filter">
        <div class="card">
            <div class="card-body">
                <div id="general-filter">
                    <h3>Search Filter <small>SoonTM</small></h3>
                </div>
                <hr>
                <div id="specific-filter"></div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-outline-primary text-white" type="button" data-bs-toggle="collapse"
                        data-bs-target="#search-filter" aria-expanded="false" aria-controls="search-filter">
                    Close Filter
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container my-3 d-flex justify-content-center" id="loader">
    <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="container-fluid my-3">
    <div class="tab-content" id="tablesList" style="display: none">
        <div class="tab-pane fade show active" id="animeTables" role="tabpanel" aria-labelledby="animeTablesTab"></div>
        <div class="tab-pane fade" id="mangaTables" role="tabpanel" aria-labelledby="mangaTablesTab"></div>
        <div class="tab-pane fade" id="lightNovelTables" role="tabpanel" aria-labelledby="lightNovelTablesTab"></div>
        <div class="tab-pane fade" id="applicationsTables" role="tabpanel"
             aria-labelledby="applicationsTablesTab"></div>

        <div class="tab-pane fade" id="hentaiTables" role="tabpanel" aria-labelledby="hentaiTablesTab">
            <div class="container d-flex justify-content-center mb-3">
                <div class="card bg-darker" style="max-width: 22em;">
                    <div class="card-header">
                        Coming soon!
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Keep your vaseline and tissues on standby.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="helpTab">
            <div class="container">

                <div class="card bg-darker mb-3">
                    <div class="card-header">Ecchi things</div>
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-danger hover-grow hover-shadow m-1"
                                onclick="adultConsent(true)" id="setting-adult-yes">
                            I am an adult! Gimme that
                            <img src="{{ url_for('static', filename='img/gasm.png') }}" class="dc-emoji" width="23px"
                                 height="23px" alt="I am an adult">!
                        </button>
                        or
                        <button type="button" class="btn btn-success hover-grow hover-shadow m-1"
                                onclick="adultConsent(false)" id="setting-adult-no">
                            Hold up! FBI
                            <img class="dc-emoji" src="{{ url_for('static', filename='img/lolipolice.png') }}"
                                 width="23px" height="23px" alt="I am not adult">
                        </button>

                        <div class="form-check form-switch ms-1">
                            <input class="form-check-input" type="checkbox" id="remember-i-am-an-adult" checked>
                            <label class="form-check-label" for="remember-i-am-an-adult">Remember my choice</label>
                        </div>
                    </div>
                </div>

                <div class="card bg-darker mb-3">
                    <div class="card-header">Server-Status</div>
                    <div class="card-body">
                        <div class="d-inline-block border border-primary py-1 px-2 rounded-pill hover-blue me-2 mb-2">
                            <div class="d-inline-block rounded-circle spinner-grow-sm label-yes"
                                 data-bs-toggle="tooltip"
                                 role="status"></div>
                            Online
                        </div>
                        <div class="d-inline-block border border-primary py-1 px-2 rounded-pill hover-blue me-2 mb-2">
                            <div class="d-inline-block rounded-circle spinner-grow-sm label-no" data-bs-toggle="tooltip"
                                 role="status"></div>
                            Offline
                        </div>
                        <div class="d-inline-block border border-primary py-1 px-2 rounded-pill hover-blue mb-2">
                            <div class="d-inline-block rounded-circle spinner-grow-sm bg-warning"
                                 data-bs-toggle="tooltip"
                                 role="status"></div>
                            Unknown Status
                        </div>

                        <hr class="mt-2">
                        <p class="card-text">
                            We automatically ping every server and try to determine whether they are online or not
                        </p>
                    </div>
                </div>

                <div class="card bg-darker mb-3">
                    <div class="card-header">Table Columns</div>
                    <div class="card-body">
                        <div class="row g-1 row-cols-1 row-cols-md-2 row-cols-xl-3"
                             id="columnsDetails"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-3">
    <div class="alert border border-danger fade show" role="alert">
        <p>
            Found any wrong information or want to add an entry to the index?
            Then join our Discord at <a href="https://discord.gg/piracy">https://discord.gg/piracy</a> and tell us in
            <kbd>#index</kbd>!
        </p>
    </div>
</div>

{% include 'footer.html' %}

<script>
    editMode = false
</script>

<!-- helpful utils -->
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<!-- custom table wrapper -->
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<!-- app.js -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<!-- editor -->
<script src="{{ url_for('static', filename='js/editor.js') }}"></script>
<!-- Umami-Statboard -->
<script src="{{ url_for('static', filename='js/stats.js') }}" async defer></script>
</body>

</html>
