<!doctype html>
<html lang="en" class="h-100">

<head>
    {% include 'meta.html' %}

    <!-- SEO -->
    <title>Login required | /r/animepiracy Index</title>
    <meta name="description"
          content="You need to login /r/animepiracy index!"/>
    <meta name="robots" content="noindex, noarchive, nofollow">
    <link rel=”canonical” href="https://piracy.moe/login/">
</head>


<!-- #BODY -->
<body class="d-flex flex-column h-100 bg-dark text-white">
{% include 'navbar.html' %}

<div class="container d-flex align-items-center justify-content-center h-100 my-3">
    <div class="card text-center" style="max-width: 500px;">
        <div class="row g-0">
            <div class="col">
                <img src="{{ url_for('static', filename='img/logo.png') }}" class="card-img-top"
                     alt="/r/animepiracy logo">
            </div>
            <div class="col-auto">
                <div class="card-header">
                    <h4>
                        Unauthorized Access
                    </h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Login to view the protected content
                    </p>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <a href="{{ url_for('editor.login') }}" class="btn btn-primary btn-lg">
                            Login via Discord
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
</body>

</html>
