/*Theme the Tabulator element*/
.tabulator {
    background-color: var(--dark);
    border: 1px solid var(--darker);
}

/*Theme the header*/
.tabulator .tabulator-header, .tabulator .tabulator-header .tabulator-col {
    background-color: var(--darker);
    border-right: none;
    border-left: none;
    color: #fff;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
    background-color: var(--dark);
}

.tabulator .tabulator-header {
    border-bottom-color: #252525;
    font-weight: 500;
}

/*Color the table rows*/
.tabulator .tabulator-tableHolder .tabulator-table, .tabulator .tabulator-tableHolder .tabulator-table .tabulator-row {
    color: #fff;
    background-color: var(--table-dark);
}

/*Color even rows*/
.tabulator .tabulator-tableHolder .tabulator-table .tabulator-row:nth-child(even) {
    background-color: var(--table-darker);
}

.tabulator .tabulator-tableHolder .tabulator-table .tabulator-row:hover {
    background-color: var(--table-hover);
}

.tabulator-row .tabulator-cell {
    border-right: none;
}

.tabulator-frozen.tabulator-frozen-left {
    border-right: 1px solid var(--yes);
}

/*hide sort arrows*/
.tabulator-col-sorter {
    display: none !important;
}

.tabulator-col-title {
    padding-right: 0 !important;
    text-align: center;
    white-space: normal !important;
}

.tabulator-cell {
    white-space: normal !important;
}

.tabulator-cell kbd {
    font-size: 1rem !important;
}

.tabulator-cell.tabulator-editing {
    background-color: var(--grey);
}

.site-name:hover:not(.tabulator-editing), .cell-infoModal:hover:not(.tabulator-editing) {
    background-color: var(--dark);
    color: var(--a-hover);
    cursor: pointer;
}