html,
body {
    min-height: 100%;
    background-color: #202020;
    color: white;
}

.bg-1 {
    background-color: rgb(18, 18, 18);
}

.bg-2 {
    background-color: rgb(22, 22, 22);
}

.bg-3 {
    background-color: #202020;
}

a:not(.link-light):not(.btn):not(.nav-item a) {
    color: #c6c6c6 !important;
    text-decoration: none;
}

a:not(.link-light):not(.btn):not(.navbar-brand):hover {
    color: #2a6496 !important;
}
