.container {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 0.5rem;
}

.card {
    min-width: 420px;
    margin-right: 0.5rem;
}

@media (min-width: 992px) {
    .card {
        min-width: calc((0.5rem + 960px - 2 * 0.75rem) / 2 - 0.5rem);
    }
}

@media (min-width: 1200px) {
    .card {
        min-width: calc((0.5rem + 1140px - 2 * 0.75rem) / 3 - 0.5rem);
    }
}

@media (min-width: 1400px) {
    .card {
        min-width: calc((0.5rem + 1320px - 2 * 0.75rem) / 3 - 0.5rem);
    }
}
